.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.flex-container div {
  background-color: blue;
  width: 200px;
  height: 300px;
  
}

.flex-container div:hover{
  box-shadow: 10px 10px 10px black;
  transition: 0.5s;
}